@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
}

.marquee {
  white-space: nowrap;
  display: inline-block;
  animation: marquee 18s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Hide scrollbars for the marquee wrapper */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* cursor feedback when dragging */
.marquee-wrapper:active {
  cursor: grabbing;
  user-select: none;
}
